/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.header {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.main-content {
    padding: 20px;
}

.information {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.information h2 {
    margin-bottom: 10px;
}

.information ul {
    list-style-type: none;
    padding-left: 20px;
}



.prevention-treatment h2 {
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center-image {
    display: block;
    margin: 20px auto; /* Centralizar a imagem horizontalmente */
}
